$myLightGray: #ececec;
$myMediumGray: #c7c7c7;
$myDarkGray: #808080;
$myBlack: rgb(0, 0, 0);
$myWhite: rgb(255, 255, 255);
$myTeal: #008080;
$myLightTeal: #d5f0f0;
$myOrange: #ff6100;
$myBlue: rgb(108, 117, 125);
$myShadow: rgba(99, 99, 99, 0.2);
