.gs-box{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.gs{
    background-color: lightblue;
    padding: 1rem;
    margin-top: 1rem;
}

nav{
    display: flex;
    gap: 1rem;
    align-items: baseline;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding-right: 4rem;
    h1{
        padding: 4rem;
    }
    ul{
        display: flex;
        list-style: none;
        gap: 2rem;
        padding: 0;
    }
    li{
        a{
            text-decoration: none;
            color: white;
        }
    }
}

.gs-txt-box{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 2rem;
}

@media only screen and (max-width: 837px) {

.gs-box{
    flex-direction: column;
    gap: 1rem;
    flex-wrap: nowrap;
}

nav{
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    h1{
        padding: 4rem;
    }
    ul{
        display: flex;
        list-style: none;
        gap: 2rem;
        padding: 0;
    }
    li{
        a{
            text-decoration: none;
            color: white;
        }
    }
}

}


@media only screen and (max-width: 600px) {

    .gs-box{
        flex-direction: column;   
        gap: 1rem; 
    }

    h2{
        width: 100%;
        text-align: center;
        padding: 1rem;        
    }

    nav{
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        background-color: black;
        color: white;
        h1{
            text-align: center;
            padding: 4rem;
        }
        ul{
            display: block;
            width: 100%;
            text-align: center;
            list-style: none;
            padding: 0;
            li{
                padding: 1rem;
                background-color: white;
                margin: 1rem;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }

    }

    .gs-txt-box{
    display: block;
}

    #visitshop-btn{
        width: 100%;
    }
}