// -------- SMALLER SCREENS --------------//

body{
    max-width: 95%;
    margin: 0 auto;
}

footer {
  border-top: 1px solid gray;
  padding: 1rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

main {
  margin-top: 3rem;
}

#welcome-section{
    text-align: center;
    margin-bottom: 1rem;
}

#welcometxt{
    font-size: 1.5em;
    letter-spacing: 0.3rem;
    //font-family: 'Permanent Marker', cursive, 'Roboto', sans-serif;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#gs-first {
  text-align: center;
  width: 100%;
  padding-bottom: 2rem;
}

body {
  font-family: "Roboto", sans-serif;
}

header{
    text-align: center;
    h1{
        padding: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-size: 3em;
        color: #ff6100;
    }
    nav{
        ul{
            list-style: none;
            display: block;
            padding: 0;
            li{
                background-color: white;
                border: 1px solid #6c757d;
                padding: .7rem;
                
                a{
                    text-decoration: none;
                    color: black;
                    letter-spacing: 0.1rem;
                    
                }
            }
        }
    }
}

.gs{
    padding: 0.5rem;
    background-color: #ececec;
    margin-bottom: 1rem;
}

.gs-txt-box{
    text-align: center;
    padding: 1.5rem;
    h2{
        margin-bottom: 2rem;
    }
}

#headline{
    text-decoration: none;
}

#visitshop-btn{
        width: 50%;
}

// -------- BIGGER SCREENS --------- //


@media only screen and (min-width: 837px) {

#welcome-section{
    width: 100%;
    padding: 1rem;
}

#dash{
    display: flex;
}

header{
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem;
        ul{
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            gap: 1rem;
            li{
                border: 1px solid #6c757d;
                background-color: white;
                a{
                    color: black;
                }
            }

        }
    }
}

.gs{
    padding-top: 1rem;
}

.gs-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gs-txt-box{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 3rem;
    h2{
        font-size: 1.5em;
    }
}



#visitshop-btn{
        width: auto;
}
    
}

@media only screen and (min-width: 900px) {

    .gs-box{
        flex-direction: row;
    }

}

#genre-filter{
    width: 250px;
    height: 50px;
    padding-right: 1rem;
    padding-left: 1rem;
}

#selectbox{
    width: 100%;
    padding: 2rem;
}