.gamepage{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: white;
  
  }

  .gamepage-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .image-frame{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }

  .main-image{
    width: 100%;
    object-fit:cover;
  }

  .miniatures {
    display: flex;
    gap: 1.5rem;
    width: 100%;
  }

  .miniature {
    object-fit: cover;
    max-width: 250px;
    width: 100%;
  }

  .textarea{
    max-width: 700px;
    width: 100%;
    margin: 1rem 1rem 0 2rem;
    padding: 1rem;
    overflow: hidden;
  }
  
  .game-details {
    display: flex;
    gap: 2rem;
  }

  .rating{
    border: 2px solid #008080;
    background-color: #d5f0f0;
    padding: 0.3rem 0.5rem;
    border-radius: 10%;
  }

  .rating p{
    color: #005C5C;
    margin-bottom: 0;
    font-weight: 500;
  }

  .plot{
    margin: 2rem 0;
  }

 .tag-group{
    margin-top: 3rem;
 }
  
 .tags{
    border: 2px solid teal;
    border-radius: 10%;
    padding: 0.3rem 0.5rem;
    margin: 0.5rem;
 }

 .buy-btn{
    max-width: 40%;
    margin: 2rem;
 }

  
@media only screen and (max-width: 992px) {
    .gamepage{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .miniatures{
        justify-content: space-between;
    }
    .miniature{
        max-width: 100%;
    }
}
 
  

