.gamecard{
      max-height: 100%;
      width: 100%;
      margin: 1rem auto;
    }
    .gamecard-image{
      max-width: 100%;
      width: 100%;
    }

    .gamecard-text{
      display: flex;
      flex-direction: column;
      gap: .5rem;
      margin-top: 1rem;
      h3{
        text-transform: uppercase;
        letter-spacing: .1rem;
      }
      h5{
        font-size: 1em;
      }
      ul{
          list-style: none;
          padding: 0;
        }
    }

  .button-section{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
@media only screen and (min-width: 837px) {

  .gamecard{
    max-height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .playtime{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    p{
      margin: 0;
      margin-left: 0.4rem;
    }
  }
  
  .duration-icon {
    color: teal;
  }
  .gamecard-text{
    margin: 1rem;
    padding: 1rem;
    h3{
      margin: 0.5rem 0;
      font-weight: 200;
      font-size: 1.5rem;
    }
    h4{
      margin: 0.5rem 0;
    }
  }
  
  .gamecard-image{
    max-width: 200px;
    object-fit: cover;
    object-position: 100% 25%;
  }


  }

  @media only screen and (min-width: 900px) {

  .gamecard{
    max-width: 500px;
    max-height: none;
  }

  .gamecard-image{
    max-width: 100%;
    height: auto;
  }


  }