.login-section{
    margin-bottom: 10rem;
}

.login-items-sec{
    max-width: 40%;
    border: 1px solid $myDarkGray;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: 0 auto;
}

.login-form{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    align-items: baseline;
    justify-content: center;
    margin: 1rem;
    label{
        font-size: 1.2em;
    }
}

#email{
    height: 40px;
    max-width: 60%;
}